Repository ullbergm/object-lease-controller, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/docs, area/source, area/test

.github/labeler.yml:

---
area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

area/docs:
- changed-files:
  - any-glob-to-any-file: "docs/**/*"
  - any-glob-to-any-file: "**/*.md"

area/source:
- changed-files:
  - any-glob-to-any-file: "api/**/*"
  - any-glob-to-any-file: "cmd/**/*"
  - any-glob-to-any-file: "hack/**/*"
  - any-glob-to-any-file: "internal/**/*"

area/test:
- changed-files:
  - any-glob-to-any-file: "src/test/**/*"

feat(docker): add codespell and shellcheck to Dockerfile and post-install script
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
Labels: none

feat(types): enhance React type definitions and improve module exports for better type safety
  object-lease-console-plugin/src/components/LeasesPage.tsx
  object-lease-console-plugin/src/types/shims.d.ts
Labels: none

feat(ci): add coverage upload step to Codacy in test workflow
  .github/workflows/test-controller.yml
Labels: area/github

feat(devcontainer): add Node.js and npm to Dockerfile and post-install script
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  .gitignore
  object-lease-console-plugin/.gitignore
Labels: none

refactor(LeasesPage): simplify annotation handling and remove unused types
  object-lease-console-plugin/src/components/LeasesPage.tsx
  object-lease-console-plugin/src/types/shims.d.ts
Labels: none

feat(ci): Add Codacy (#65)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  .github/renovate.json5
  .github/workflows/codacy.yml
  .github/workflows/test-controller.yml
  .gitignore
  object-lease-console-plugin/.gitignore
Labels: area/github

Initial implementation
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
  .github/workflows/release.yml
  Dockerfile.webhook
  Makefile
  README.md
  WEBHOOK_IMPLEMENTATION.md
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  docs/webhook.md
  examples/leasecontroller-with-webhook.yaml
  object-lease-operator/config/crd/bases/object-lease-controller.ullberg.io_leasecontrollers.yaml
  object-lease-operator/config/manager/webhook-deployment.yaml
  object-lease-operator/config/manager/webhook-service.yaml
  object-lease-operator/config/rbac/webhook_role.yaml
  object-lease-operator/config/rbac/webhook_role_binding.yaml
  object-lease-operator/config/rbac/webhook_serviceaccount.yaml
  object-lease-operator/helm-charts/leasecontroller/values.yaml
  pkg/webhook/config_manager.go
  pkg/webhook/config_manager_test.go
  pkg/webhook/validator.go
  pkg/webhook/validator_test.go
Labels: area/github, area/docs, area/source

Add category to Codacy SARIF upload step
  .github/workflows/codacy.yml
Labels: area/github

Disable SARIF file upload in Codacy workflow
  .github/workflows/codacy.yml
Labels: area/github

chore: Update Go version to 1.25 in Dockerfile and go.mod
  Dockerfile.webhook
  go.mod
Labels: none

feat(docker): update Go version to 1.26 in Dockerfile
  Dockerfile
Labels: none

feat: update Go version to 1.26 in Dockerfile and go.mod
  .devcontainer/Dockerfile
  go.mod
Labels: none

chore: remove unused dependencies and update go.mod and go.sum
  go.mod
  go.sum
Labels: none

chore: update golangci-lint version in lint workflow
  .github/workflows/lint.yml
Labels: area/github

chore: update golangci-lint installation method in PR check workflow
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
Labels: area/github

fix(renovate): disable pinning of digests in configuration
  .github/renovate.json5
Labels: area/github

fix(docker): remove digest pinning from base images in Dockerfiles
  Dockerfile
  object-lease-console-plugin/Dockerfile
  object-lease-operator/Dockerfile
Labels: none

feat(tests): add event recorder and converter registry to fakeManager
  cmd/main_test.go
  go.mod
  go.sum
  pkg/controllers/lease_controller_test.go
Labels: area/source

refactor(events): replace EventRecorder with updated events.EventRecorder in controllers
  cmd/main.go
  cmd/main_test.go
  pkg/controllers/lease_controller.go
  pkg/controllers/lease_controller_test.go
  pkg/controllers/namespace_controller.go
Labels: area/source

fix(lint): resolve goconst failures blocking CI
  .golangci.yml
  pkg/metrics/metrics.go
  pkg/util/cleanup_job.go
Labels: none

ci(fuzz): scope PR fuzz concurrency group to the PR ref
  .github/workflows/pr-fuzz.yml
Labels: area/github

fix(lint): resolve goconst failures blocking CI (#89)
  .github/workflows/pr-fuzz.yml
  .golangci.yml
  pkg/metrics/metrics.go
  pkg/util/cleanup_job.go
Labels: area/github

feat(go)!: update module sigs.k8s.io/controller-runtime to v0.24.1
  go.mod
  go.sum
Labels: none

ci(renovate): group controller-runtime with the kubernetes monorepo
  .github/renovate.json5
Labels: area/github

ci(lint): pin golangci-lint to v2.12.2 in both workflows
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
Labels: area/github

ci(lint): pin golangci-lint to v2.12.2 in both workflows (#91)
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
Labels: area/github

ci(renovate): group controller-runtime with the kubernetes monorepo (#90)
  .github/renovate.json5
Labels: area/github
