Repository ullbergm/object-lease-controller, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/docs, area/source, area/test

cleanup
  .gitignore
Labels: none

cleanup
  .gitignore
Labels: none

feat: Add OpenShift Console Plugin for Object Lease Controller (#22)
  .gitignore
  Makefile
  README.md
  cmd/main.go
  docs/catalogsource.yaml
  object-lease-console-plugin/Dockerfile
  object-lease-console-plugin/README.md
  object-lease-console-plugin/k8s/consoleplugin.yaml
  object-lease-console-plugin/k8s/kustomization.yaml
  object-lease-console-plugin/k8s/plugin-deployment.yaml
  object-lease-console-plugin/k8s/plugin-service.yaml
  object-lease-console-plugin/package.json
  object-lease-console-plugin/public/locales/en/plugin__object-lease-console-plugin.json
  object-lease-console-plugin/public/locales/en/plugin__object-lease-operator-object-lease-console-plugin.json
  object-lease-console-plugin/run.sh
  object-lease-console-plugin/scripts/extract-i18n.js
  object-lease-console-plugin/src/components/LeasesPage.tsx
  object-lease-console-plugin/src/index.ts
  object-lease-console-plugin/src/types/shims.d.ts
  object-lease-console-plugin/tsconfig.json
  object-lease-console-plugin/webpack.config.js
  object-lease-operator/.gitignore
  object-lease-operator/Makefile
  object-lease-operator/bundle/manifests/object-lease-controller.ullberg.us_leasecontrollers.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-controller-manager-metrics-service_v1_service.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-leasecontroller-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-leasecontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-leasecontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  object-lease-operator/bundle/manifests/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/bundle/metadata/annotations.yaml
  object-lease-operator/bundle/tests/scorecard/config.yaml
  object-lease-operator/config/default/kustomization.yaml
  object-lease-operator/config/default/manager_metrics_patch.yaml
  object-lease-operator/config/default/patch-consoleplugin-deployment-name.yaml
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
  pkg/controllers/lease_controller.go
Labels: area/docs, area/source

update dependencies
  object-lease-console-plugin/package.json
  object-lease-console-plugin/src/components/LeasesPage.tsx
Labels: none

update plugin dependencies (#29)
  object-lease-console-plugin/package.json
  object-lease-console-plugin/src/components/LeasesPage.tsx
Labels: none

update dependencies
  object-lease-console-plugin/package.json
  object-lease-console-plugin/tsconfig.json
Labels: none

update dependencies (#30)
  object-lease-console-plugin/package.json
  object-lease-console-plugin/tsconfig.json
Labels: none

update ci/cd workflows
  .github/workflows/test-controller.yml
  .github/workflows/test-plugin.yml
Labels: area/github

update ci/cd workflows (#33)
  .github/workflows/test-controller.yml
  .github/workflows/test-plugin.yml
Labels: area/github

new version
  Makefile
  object-lease-console-plugin/k8s/plugin-deployment.yaml
  object-lease-console-plugin/package.json
  object-lease-console-plugin/webpack.config.js
  object-lease-operator/Makefile
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/rbac/role.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
  object-lease-operator/helm-charts/leasecontroller/templates/service-monitor.yaml
Labels: none

fix metrics and do a lot of cleanup
  .gitignore
  Makefile
  object-lease-console-plugin/k8s/plugin-deployment.yaml
  object-lease-console-plugin/package.json
  object-lease-console-plugin/webpack.config.js
  object-lease-operator/Makefile
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
  object-lease-operator/helm-charts/leasecontroller/values.yaml
  pkg/metrics/metrics.go
Labels: none

add documentation for openshift
  README.md
  docs/console-plugin.png
Labels: area/docs

add documentation for openshift (#36)
  README.md
  docs/console-plugin.png
Labels: area/docs

update renovate config
  .github/renovate.json5
  README.md
  docs/console-plugin.png
Labels: area/github, area/docs

update renovate config (#37)
  .github/renovate.json5
Labels: area/github

[ImgBot] Optimize images
  docs/console-plugin.png
  docs/object-lease-controller-flow.png
Labels: area/docs

feat: Add Prometheus metrics and ServiceMonitor support (#21)
  .gitignore
  Makefile
  README.md
  cmd/main.go
  go.mod
  object-lease-console-plugin/k8s/plugin-deployment.yaml
  object-lease-console-plugin/package.json
  object-lease-console-plugin/webpack.config.js
  object-lease-operator/Makefile
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/rbac/role.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
  object-lease-operator/helm-charts/leasecontroller/templates/service-metrics.yaml
  object-lease-operator/helm-charts/leasecontroller/templates/service-monitor.yaml
  object-lease-operator/helm-charts/leasecontroller/values.yaml
  pkg/controllers/lease_controller.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Labels: area/docs, area/source

change to ullberg.io
  .github/copilot-instructions.md
  Makefile
  README.md
  cmd/main.go
  object-lease-console-plugin/src/components/LeasesPage.tsx
  object-lease-operator/Dockerfile
  object-lease-operator/PROJECT
  object-lease-operator/config/crd/bases/object-lease-controller.ullberg.us_leasecontrollers.yaml
  object-lease-operator/config/crd/kustomization.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/rbac/leasecontroller_admin_role.yaml
  object-lease-operator/config/rbac/leasecontroller_editor_role.yaml
  object-lease-operator/config/rbac/leasecontroller_viewer_role.yaml
  object-lease-operator/config/rbac/role.yaml
  object-lease-operator/config/samples/object-lease-controller_v1alpha1_leasecontroller.yaml
  object-lease-operator/watches.yaml
  pkg/controllers/lease_controller_test.go
Labels: area/github, area/docs, area/source

change to .io and version 1.0.0
  Makefile
  README.md
  object-lease-console-plugin/k8s/plugin-deployment.yaml
  object-lease-console-plugin/package.json
  object-lease-console-plugin/src/components/LeasesPage.tsx
  object-lease-console-plugin/webpack.config.js
  object-lease-operator/Makefile
  object-lease-operator/PROJECT
  object-lease-operator/config/crd/bases/object-lease-controller.ullberg.io_leasecontrollers.yaml
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/rbac/role.yaml
  object-lease-operator/config/samples/kustomization.yaml
  object-lease-operator/config/samples/object-lease-controller_v1_leasecontroller.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
  object-lease-operator/watches.yaml
Labels: area/docs

Initial commit
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  public/favicon.svg
  src/assets/houston.webp
  src/content.config.ts
  src/content/docs/guides/getting-started.md
  src/content/docs/index.mdx
  src/content/docs/reference/example.md
  src/styles/global.css
  tsconfig.json
Labels: area/github, area/docs

Feat/change tld (#39)
  .github/copilot-instructions.md
  Makefile
  README.md
  cmd/main.go
  object-lease-console-plugin/k8s/plugin-deployment.yaml
  object-lease-console-plugin/package.json
  object-lease-console-plugin/src/components/LeasesPage.tsx
  object-lease-console-plugin/webpack.config.js
  object-lease-operator/Dockerfile
  object-lease-operator/Makefile
  object-lease-operator/PROJECT
  object-lease-operator/config/crd/bases/object-lease-controller.ullberg.io_leasecontrollers.yaml
  object-lease-operator/config/crd/kustomization.yaml
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/rbac/leasecontroller_admin_role.yaml
  object-lease-operator/config/rbac/leasecontroller_editor_role.yaml
  object-lease-operator/config/rbac/leasecontroller_viewer_role.yaml
  object-lease-operator/config/rbac/role.yaml
  object-lease-operator/config/samples/kustomization.yaml
  object-lease-operator/config/samples/object-lease-controller_v1_leasecontroller.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
  object-lease-operator/watches.yaml
  pkg/controllers/lease_controller_test.go
Labels: area/github, area/docs, area/source

fix tld
  src/content/docs/guides/getting-started.md
Labels: area/docs

fix: remove unnecessary blank lines in cleanup scripts
  examples/cleanup/backup-to-s3.yaml
  examples/cleanup/cleanup-related-resources.yaml
  examples/cleanup/notify-webhook.yaml
Labels: none

Update pkg/util/cleanup_job.go
  pkg/util/cleanup_job.go
Labels: none

Add Apply method to erroringClient
  pkg/controllers/namespace_controller_test.go
Labels: none

feat: Set up DevContainer with Golang and pre-commit initialization
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
Labels: none

feat: Enhance TTL duration parsing and documentation for clarity
  README.md
  object-lease-console-plugin/README.md
  pkg/util/duration.go
  pkg/util/duration_test.go
Labels: area/docs

feat: Flexible TTL parsing — case-insensitive units, 'mo' month alias, tests and docs (#54)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  README.md
  object-lease-console-plugin/README.md
  pkg/util/duration.go
  pkg/util/duration_test.go
Labels: area/docs

feat(test): Add more test coverage
  .gitignore
  Makefile
  cmd/main.go
  cmd/main_test.go
  pkg/controllers/lease_controller_test.go
  pkg/controllers/namespace_controller_test.go
  pkg/util/duration_test.go
  pkg/util/object_filter_test.go
  pkg/util/tracker_test.go
Labels: area/source

fix: Add lint ignore comments for leader election error messages
  cmd/main.go
Labels: area/source

fix: Add lint ignore comments for leader election error messages
  cmd/main.go
Labels: area/source

fix: Improve error message formatting in leader election configuration
  cmd/main.go
Labels: area/source

Increase test coverage and refactor parseParameters to ParseParams struct (#55)
  .gitignore
  Makefile
  cmd/main.go
  cmd/main_test.go
  pkg/controllers/lease_controller_test.go
  pkg/controllers/namespace_controller_test.go
  pkg/util/duration_test.go
  pkg/util/object_filter_test.go
  pkg/util/tracker_test.go
Labels: area/source

Format lint.yml for consistency
  .github/workflows/lint.yml
Labels: area/github

fix(renovate): group OpenShift Console SDK dependencies and block React updates
  .github/renovate.json5
Labels: area/github

fix(renovate): group OpenShift Console SDK dependencies and block React updates (#56)
  .github/renovate.json5
Labels: area/github

feat(ci): Add GitHub Actions workflow for release management
  .github/workflows/release.yml
Labels: area/github

fix: Fix trailing whitespace
  .github/workflows/release.yml
Labels: area/github

feat(ci): Add GitHub Actions workflow for release management (#58)
  .github/workflows/release.yml
Labels: area/github

fix(ci): Fix release workflow dependencies and yarn cache
  .github/workflows/release.yml
Labels: area/github

.github/labeler.yml:

---
area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

area/docs:
- changed-files:
  - any-glob-to-any-file: "docs/**/*"
  - any-glob-to-any-file: "**/*.md"

area/source:
- changed-files:
  - any-glob-to-any-file: "api/**/*"
  - any-glob-to-any-file: "cmd/**/*"
  - any-glob-to-any-file: "hack/**/*"
  - any-glob-to-any-file: "internal/**/*"

area/test:
- changed-files:
  - any-glob-to-any-file: "src/test/**/*"
