Repository ullbergm/object-lease-controller, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/docs, area/source, area/test

.github/labeler.yml:

---
area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

area/docs:
- changed-files:
  - any-glob-to-any-file: "docs/**/*"
  - any-glob-to-any-file: "**/*.md"

area/source:
- changed-files:
  - any-glob-to-any-file: "api/**/*"
  - any-glob-to-any-file: "cmd/**/*"
  - any-glob-to-any-file: "hack/**/*"
  - any-glob-to-any-file: "internal/**/*"

area/test:
- changed-files:
  - any-glob-to-any-file: "src/test/**/*"

fix(ci): Fix release workflow dependencies and yarn cache (#59)
  .github/workflows/release.yml
Labels: area/github

fix(ci): Add explicit packages write permissions to all build jobs
  .github/workflows/release.yml
Labels: area/github

fix(ci): Add contents write permission to create-release job
  .github/workflows/release.yml
Labels: area/github

Ci release workflow (#60)
  .github/workflows/release.yml
Labels: area/github

fix(ci): Update Docker build steps to use buildx for multi-platform support
  .github/workflows/release.yml
Labels: area/github

Ci release workflow (#61)
  .github/workflows/release.yml
Labels: area/github

* feat(ci): Add GitHub Actions workflow for release management
  .github/workflows/release.yml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
Labels: area/github

fix: standardize supported platforms to arm64 and amd64 across configurations
  .github/copilot-instructions.md
  .github/workflows/release.yml
  object-lease-operator/Makefile
  object-lease-operator/config/manager/manager.yaml
Labels: area/github, area/docs

fix: update maintainer email to use correct domain
  object-lease-operator/Dockerfile
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
Labels: none

feat: Add cleanup job feature
  README.md
  cmd/main.go
  examples/cleanup/README.md
  examples/cleanup/backup-to-s3.yaml
  examples/cleanup/cleanup-related-resources.yaml
  examples/cleanup/notify-webhook.yaml
  go.mod
  go.sum
  object-lease-operator/helm-charts/leasecontroller/templates/role.yaml
  pkg/controllers/lease_controller.go
  pkg/metrics/metrics.go
  pkg/util/cleanup_job.go
  pkg/util/cleanup_job_test.go
Labels: area/docs, area/source

feat(tests): Enhance cleanup job tests with error handling and validation
  go.sum
  pkg/controllers/lease_controller_test.go
  pkg/util/cleanup_job.go
  pkg/util/cleanup_job_test.go
Labels: none

refactor(tests): Replace client variable with cl in cleanup job tests for consistency
  pkg/controllers/lease_controller_test.go
  pkg/util/cleanup_job_test.go
Labels: none

fix: lint issues
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
  Makefile
  pkg/util/cleanup_job_test.go
Labels: none

fix: Update pre-commit config
  .devcontainer/post-install.sh
  .gitleaks.toml
  .pre-commit-config.yaml
  README.md
Labels: area/docs

feat: Enhance PR check workflow by adding codespell and gitleaks installation
  .github/workflows/pr-check.yml
Labels: area/github

fix: Add sudo to apt-get commands in PR check workflow for proper permissions
  .github/workflows/pr-check.yml
Labels: area/github

refactor: Simplify golangci-lint installation steps in PR check workflow
  .github/workflows/pr-check.yml
Labels: area/github

fix: Remove unnecessary blank line in PR check workflow
  .github/workflows/pr-check.yml
Labels: area/github

feat: Add support for environment variable secrets in cleanup jobs
  Makefile
  cmd/main.go
  examples/cleanup/README.md
  examples/cleanup/backup-to-s3.yaml
  examples/cleanup/notify-webhook.yaml
  pkg/controllers/lease_controller.go
  pkg/util/cleanup_job.go
  pkg/util/cleanup_job_test.go
Labels: area/docs, area/source

Add cleanup job support for pre-deletion hooks via Kubernetes Jobs (#48)
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
  .github/workflows/pr-check.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  Makefile
  README.md
  cmd/main.go
  examples/cleanup/README.md
  examples/cleanup/backup-to-s3.yaml
  examples/cleanup/cleanup-related-resources.yaml
  examples/cleanup/notify-webhook.yaml
  go.mod
  go.sum
  object-lease-operator/helm-charts/leasecontroller/templates/role.yaml
  pkg/controllers/lease_controller.go
  pkg/controllers/lease_controller_test.go
  pkg/metrics/metrics.go
  pkg/util/cleanup_job.go
  pkg/util/cleanup_job_test.go
Labels: area/github, area/docs, area/source

feat(tests): Enhance test coverage for health checks and main logic execution
  cmd/main.go
  cmd/main_test.go
Labels: area/source

ci: add fuzz tests and workflows
  .github/workflows/pr-fuzz.yml
  .github/workflows/schedule-fuzz.yml
  Makefile
  pkg/util/build_env_fuzz_test.go
  pkg/util/cleanup_job_fuzz_test.go
  pkg/util/duration_fuzz_test.go
  pkg/util/object_transform_fuzz_test.go
Labels: area/github

feat(fuzz): add fuzz tests for leader election and lease relevant annotations
  Makefile
  cmd/leader_election_fuzz_test.go
  pkg/controllers/lease_controller_fuzz_test.go
Labels: area/source

feat(tests): enhance fuzz tests with additional edge cases for various configurations
  cmd/leader_election_fuzz_test.go
  pkg/controllers/lease_controller_fuzz_test.go
  pkg/util/build_env_fuzz_test.go
  pkg/util/cleanup_job_fuzz_test.go
  pkg/util/duration_fuzz_test.go
  pkg/util/object_transform_fuzz_test.go
Labels: area/source

refactor: replace direct config retrieval with injectable function for testing
  cmd/leader_election_fuzz_test.go
  cmd/main.go
  cmd/main_test.go
Labels: area/source

test: mock getConfig function in multiple tests for consistent behavior
  cmd/main_test.go
Labels: area/source

test: mock getConfig function in multiple tests for consistent behavior
  cmd/main_test.go
Labels: area/source

Initial implementation
  Dockerfile.webhook
  Makefile
  README.md
  WEBHOOK_IMPLEMENTATION.md
  cmd/webhook/main.go
  docs/webhook.md
  examples/leasecontroller-with-webhook.yaml
  object-lease-operator/config/manager/webhook-certificate.yaml
  object-lease-operator/config/manager/webhook-deployment.yaml
  object-lease-operator/config/manager/webhook-service.yaml
  object-lease-operator/config/rbac/webhook_role.yaml
  object-lease-operator/config/rbac/webhook_role_binding.yaml
  object-lease-operator/config/rbac/webhook_serviceaccount.yaml
  pkg/webhook/config_manager.go
  pkg/webhook/validator.go
Labels: area/docs, area/source

feat: add build and push workflow for webhook image
  .github/workflows/release.yml
Labels: area/github

feat: add build and run targets for webhook binary
  Makefile
Labels: none

feat: add insecure mode for webhook server to facilitate local testing
  Makefile
  cmd/webhook/main.go
Labels: area/source

feat: install OpenShift CLI in Dockerfile and post-install script
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
Labels: none

feat: add webhook configuration for LeaseController CRD validation
  object-lease-operator/config/crd/bases/object-lease-controller.ullberg.io_leasecontrollers.yaml
  object-lease-operator/helm-charts/leasecontroller/values.yaml
Labels: none

feat: update webhook certificate management to use OLM/service-ca-operator
  WEBHOOK_IMPLEMENTATION.md
  docs/webhook.md
  object-lease-operator/config/manager/webhook-certificate.yaml
  object-lease-operator/config/manager/webhook-deployment.yaml
  object-lease-operator/config/manager/webhook-service.yaml
Labels: area/docs

Update funding information in FUNDING.yml
  .github/FUNDING.yml
Labels: area/github

Comment out buy_me_a_coffee funding option
  .github/FUNDING.yml
Labels: area/github

feat(ci): pin digests using renovate
  .github/renovate.json5
Labels: area/github

feat(docker): add pre-commit and gitleaks installation to Dockerfile
  .devcontainer/Dockerfile
Labels: none

feat(ci): add Codacy security scan workflow and update .gitignore for VSCode AI rules
  .github/workflows/codacy.yml
  .gitignore
Labels: area/github

fix(.gitignore): correct path separator for Codacy instructions
  .gitignore
Labels: none
