Repository ullbergm/object-lease-controller, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/docs, area/source, area/test

add README.md
  README.md
Labels: area/docs

feat(deps): update kubernetes packages and golang image
  Dockerfile
  go.mod
  go.sum
Labels: none

feat(go): update module sigs.k8s.io/controller-runtime to v0.21.0
  go.mod
  go.sum
Labels: none

docs: add application flow
  README.md
  docs/object-lease-controller-flow.excalidraw
  docs/object-lease-controller-flow.png
  docs/object-lease-controller-flow.svg
Labels: area/docs

docs: add application flow (#6)
  README.md
  docs/object-lease-controller-flow.excalidraw
  docs/object-lease-controller-flow.png
  docs/object-lease-controller-flow.svg
Labels: area/docs

Update Makefile
  Makefile
Labels: none

Update Makefile (#7)
  Makefile
Labels: none

various things
  Makefile
  cmd/main.go
  docs/catalogsource.yaml
  go.mod
  object-lease-operator/Makefile
  object-lease-operator/bundle/manifests/object-lease-controller.ullberg.us_leasecontrollers.yaml
  object-lease-operator/bundle/manifests/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/crd/bases/object-lease-controller.ullberg.us_leasecontrollers.yaml
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/rbac/role.yaml
  object-lease-operator/config/samples/object-lease-controller_v1alpha1_leasecontroller.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
  object-lease-operator/helm-charts/leasecontroller/templates/deployment.yaml
  object-lease-operator/helm-charts/leasecontroller/templates/role.yaml
  object-lease-operator/helm-charts/leasecontroller/values.yaml
  pkg/leasewatcher/leasewatcher.go
  pkg/leasewatcher/leasewatcher_test.go
  pkg/util/duration.go
  pkg/util/duration_test.go
Labels: area/docs, area/source

lint
  .devcontainer/post-install.sh
  .golangci.yml
  cmd/main.go
  pkg/leasewatcher/leasewatcher.go
  pkg/util/duration_test.go
Labels: area/source

cleanup
  .github/workflows/pr-check.yml
  .github/workflows/test-e2e.yml
Labels: area/github

various things (#13)
  .devcontainer/post-install.sh
  .github/workflows/pr-check.yml
  .github/workflows/test-e2e.yml
  .golangci.yml
  Makefile
  cmd/main.go
  docs/catalogsource.yaml
  go.mod
  object-lease-operator/Makefile
  object-lease-operator/bundle/manifests/object-lease-controller.ullberg.us_leasecontrollers.yaml
  object-lease-operator/bundle/manifests/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/crd/bases/object-lease-controller.ullberg.us_leasecontrollers.yaml
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/rbac/role.yaml
  object-lease-operator/config/samples/object-lease-controller_v1alpha1_leasecontroller.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
  object-lease-operator/helm-charts/leasecontroller/templates/deployment.yaml
  object-lease-operator/helm-charts/leasecontroller/templates/role.yaml
  object-lease-operator/helm-charts/leasecontroller/values.yaml
  pkg/leasewatcher/leasewatcher.go
  pkg/leasewatcher/leasewatcher_test.go
  pkg/util/duration.go
  pkg/util/duration_test.go
Labels: area/github, area/docs, area/source

feat(cache): label opt-in for target GVK via cache.ByObject; fix health check to use APIReader
  cmd/main.go
Labels: area/source

add namespace tracking and opt-in
  Makefile
  cmd/main.go
  go.mod
  pkg/controllers/lease_controller.go
  pkg/controllers/lease_controller_test.go
  pkg/controllers/namespace_controller.go
  pkg/controllers/namespace_controller_test.go
  pkg/util/tracker.go
Labels: area/source

update README.md
  README.md
Labels: area/docs

add tests
  pkg/controllers/lease_controller.go
  pkg/controllers/lease_controller_test.go
Labels: none

be more efficient with the namespace filtering if its disabled
  cmd/main.go
  pkg/controllers/lease_controller.go
Labels: area/source

add pprof
  cmd/main.go
Labels: area/source

add ci/cd tests and codecov
  .github/workflows/test.yml
  .gitignore
  Makefile
Labels: area/github

lint fix
  .golangci.yml
  pkg/controllers/lease_controller.go
  pkg/util/tracker.go
Labels: none

Feat/namespace-opt-in (#15)
  .github/workflows/test.yml
  .gitignore
  .golangci.yml
  Makefile
  README.md
  cmd/main.go
  go.mod
  pkg/controllers/lease_controller.go
  pkg/controllers/lease_controller_test.go
  pkg/controllers/namespace_controller.go
  pkg/controllers/namespace_controller_test.go
  pkg/leasewatcher/leasewatcher_test.go
  pkg/util/tracker.go
Labels: area/github, area/docs, area/source

strip managedFields from the cache to save memory
  cmd/main.go
Labels: area/source

add safe deletes
  pkg/controllers/lease_controller.go
  pkg/util/delete.go
Labels: none

add tests
  pkg/util/delete_test.go
Labels: none

add safe deletes (#18)
  pkg/controllers/lease_controller.go
  pkg/util/delete.go
  pkg/util/delete_test.go
Labels: none

add safe deletes (#18)
  pkg/controllers/lease_controller.go
  pkg/util/delete.go
  pkg/util/delete_test.go
Labels: none

Cache transform: strip managedFields (#17)
  cmd/main.go
Labels: area/source

fix typo
  cmd/main.go
Labels: area/source

improve healthcheck
  cmd/main.go
  go.sum
Labels: area/source

Feat/improve-health-check (#19)
  cmd/main.go
  go.sum
Labels: area/source

filter everything we dont need out when reading the objects in order to save memory
  cmd/main.go
  pkg/controllers/lease_controller.go
  pkg/controllers/lease_controller_test.go
  pkg/util/object_filter.go
Labels: area/source

feat: optimize caching to filter everything we dont need (#20)
  cmd/main.go
  pkg/controllers/lease_controller.go
  pkg/controllers/lease_controller_test.go
  pkg/util/object_filter.go
Labels: area/source

base plugin works
  Makefile
  console-plugin/object-lease-console-plugin/Dockerfile
  console-plugin/object-lease-console-plugin/README.md
  console-plugin/object-lease-console-plugin/k8s/consoleplugin.yaml
  console-plugin/object-lease-console-plugin/k8s/kustomization.yaml
  console-plugin/object-lease-console-plugin/k8s/plugin-deployment.yaml
  console-plugin/object-lease-console-plugin/k8s/plugin-service.yaml
  console-plugin/object-lease-console-plugin/package.json
  console-plugin/object-lease-console-plugin/public/locales/en/plugin__object-lease-console-plugin.json
  console-plugin/object-lease-console-plugin/public/locales/en/plugin__object-lease-operator-object-lease-console-plugin.json
  console-plugin/object-lease-console-plugin/run.sh
  console-plugin/object-lease-console-plugin/scripts/extract-i18n.js
  console-plugin/object-lease-console-plugin/src/components/LeasesPage.tsx
  console-plugin/object-lease-console-plugin/src/index.ts
  console-plugin/object-lease-console-plugin/tsconfig.json
  console-plugin/object-lease-console-plugin/webpack.config.js
  object-lease-operator/config/default/kustomization.yaml
  object-lease-operator/config/default/manager_metrics_patch.yaml
  object-lease-operator/config/default/patch-consoleplugin-name.yaml
Labels: area/docs

cleaned up the output
  cmd/main.go
  console-plugin/object-lease-console-plugin/src/components/LeasesPage.tsx
  console-plugin/object-lease-console-plugin/src/types/shims.d.ts
  pkg/controllers/lease_controller.go
Labels: area/source

cleaned up the output some more
  console-plugin/object-lease-console-plugin/src/components/LeasesPage.tsx
  console-plugin/object-lease-console-plugin/src/types/shims.d.ts
Labels: none

Update README.md
  README.md
Labels: area/docs

Update README.md (#23)
  README.md
Labels: area/docs

add metrics and reduce cyclomatic complexity in Reconcile loop
  README.md
  cmd/main.go
  go.mod
  object-lease-operator/bundle/manifests/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/helm-charts/leasecontroller/templates/service-metrics.yaml
  object-lease-operator/helm-charts/leasecontroller/templates/service-monitor.yaml
  object-lease-operator/helm-charts/leasecontroller/values.yaml
  pkg/controllers/lease_controller.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Labels: area/docs, area/source

testing a new release version
  Makefile
  console-plugin/object-lease-console-plugin/Dockerfile
  console-plugin/object-lease-console-plugin/package.json
  console-plugin/object-lease-console-plugin/webpack.config.js
  docs/catalogsource.yaml
  object-lease-operator/Makefile
  object-lease-operator/bundle/manifests/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
Labels: area/docs

cleanup
  Makefile
  object-lease-console-plugin/Dockerfile
  object-lease-console-plugin/README.md
  object-lease-console-plugin/k8s/consoleplugin.yaml
  object-lease-console-plugin/k8s/kustomization.yaml
  object-lease-console-plugin/k8s/plugin-deployment.yaml
  object-lease-console-plugin/k8s/plugin-service.yaml
  object-lease-console-plugin/package.json
  object-lease-console-plugin/public/locales/en/plugin__object-lease-console-plugin.json
  object-lease-console-plugin/public/locales/en/plugin__object-lease-operator-object-lease-console-plugin.json
  object-lease-console-plugin/run.sh
  object-lease-console-plugin/scripts/extract-i18n.js
  object-lease-console-plugin/src/components/LeasesPage.tsx
  object-lease-console-plugin/src/index.ts
  object-lease-console-plugin/src/types/shims.d.ts
  object-lease-console-plugin/tsconfig.json
  object-lease-console-plugin/webpack.config.js
  object-lease-operator/bundle/manifests/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/config/default/kustomization.yaml
  object-lease-operator/config/default/patch-consoleplugin-name.yaml
Labels: area/docs

cleanup
  Makefile
  README.md
  docs/catalogsource.yaml
  object-lease-console-plugin/k8s/consoleplugin.yaml
  object-lease-console-plugin/k8s/plugin-deployment.yaml
  object-lease-console-plugin/package.json
  object-lease-console-plugin/webpack.config.js
  object-lease-operator/.gitignore
  object-lease-operator/Makefile
  object-lease-operator/bundle/manifests/object-lease-controller.ullberg.us_leasecontrollers.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-controller-manager-metrics-service_v1_service.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-leasecontroller-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-leasecontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-leasecontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  object-lease-operator/bundle/manifests/object-lease-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  object-lease-operator/bundle/manifests/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/bundle/metadata/annotations.yaml
  object-lease-operator/bundle/tests/scorecard/config.yaml
  object-lease-operator/config/default/patch-consoleplugin-deployment-name.yaml
  object-lease-operator/config/manager/kustomization.yaml
  object-lease-operator/config/manager/manager.yaml
  object-lease-operator/config/manifests/bases/object-lease-operator.clusterserviceversion.yaml
  object-lease-operator/helm-charts/leasecontroller/Chart.yaml
Labels: area/docs

.github/labeler.yml:

---
area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

area/docs:
- changed-files:
  - any-glob-to-any-file: "docs/**/*"
  - any-glob-to-any-file: "**/*.md"

area/source:
- changed-files:
  - any-glob-to-any-file: "api/**/*"
  - any-glob-to-any-file: "cmd/**/*"
  - any-glob-to-any-file: "hack/**/*"
  - any-glob-to-any-file: "internal/**/*"

area/test:
- changed-files:
  - any-glob-to-any-file: "src/test/**/*"
